<!-- Footer Section -->
<footer>
  <section id="footer__left">
    <article id="footer__logo">
      <img src="../../public/images/logo 1.png" alt="logo" />
    </article>
    <article id="footer__copyrights">
      <div>
        &copy; 2021 by
        <span
          class="text__primary bg__primary"
          style="font-size: 1.3em; border: 2px solid #d6a129"
        >Super Enterprises</span>
      </div>
      <div>All rights reserved |</div>
      <div>
        Website by
        <span
          class="text__secondary bg__primary"
          style="font-size: 1.3em; border: 2px solid #5ed629"
        >The Developer Geek</span>
      </div>
    </article>
  </section>
  <section id="footer__middle">
    <article class="footer__about text__primary">
      { - Here are some quick links - }
    </article>
    <article class="footer__links">
      <ul class="footer__nav">
        <li class="footer__nav__item">
          <a href="#landing__contact">Contact Us</a>
        </li>
        <li class="footer__nav__item">
          <a href="#landing__about">About Us</a>
        </li>
        <li class="footer__nav__item">
          <a href="#landing__services">Services Offered</a>
        </li>
        <li class="footer__nav__item">
          <a href="#landing__blogs">Blogs Section</a>
        </li>
        <li class="footer__nav__item">
          <a href="#landing__faqs">FAQ's</a>
        </li>
      </ul>
    </article>
  </section>
  <section id="footer__right">
    <article class="footer__phrase text__primary">
      Lorem ipsum dolor sit amet consectetur
      <br />
      adipisicing elit. Adipisci, eum.
    </article>
    <article class="footer__text">Let's get connected</article>
    <article class="footer__socials">
      <ul>
        <li>
          <a href="tel:+91 9372956358"><i
              class="fas fa-phone-volume fa-2x"
            ></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/kunalr_99/"><img
              src="../../public/images/imsta.png"
              alt=""
            /></a>
        </li>
        <li>
          <a href="tel:+91 8779320450"><img
              src="../../public/images/whatsapp.png"
              alt=""
            /></a>
        </li>
        <li>
          <a href="#landing__contact"><i class="far fa-envelope fa-2x"></i></a>
        </li>
      </ul>
    </article>
  </section>
</footer>