<!-- Header Section -->
<header>
  <div id="navbar">
    <section id="navbar__logo">
      <img src="../../public/images/logo 1.png" alt="logo" />
    </section>
    <nav id="navbar__items">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#landing__services">Services</a></li>
        <li><a href="#landing__blogs">Blogs</a></li>
        <li><a href="#landing__contact">Contact</a></li>
      </ul>
    </nav>
    <div class="ham__menu">
      <i class="fas fa-bars"></i>
    </div>
  </div>
  <div class="ham__menu__items">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#landing__services">Services</a></li>
      <li><a href="#landing__blogs">Blogs</a></li>
      <li><a href="#landing__contact">Contact</a></li>
    </ul>
  </div>
</header>