* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #000;
}

body {
  /* max-width: 1024px; */
  margin: 0 auto;
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #ccc;
}

.landing__hyperlink__light a {
  border-bottom: 2px solid #ff4;
}

.landing__hyperlink__light a:hover {
  color: #fff;
}

.landing__hyperlink__dark {
}

/* Blue color - 295ed6 */

/* Utility Styles */
.text__primary {
  color: #ffe600;
}

.text__secondary {
  color: #7dbd42;
}

.bg__primary {
  background-color: #333;
}
